@import url("@/common/style/iawriter-mono.css");

.bn-ex-math-input {
  min-height: 1em;
  font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
  font-size: var(--mantine-font-size-sm)
}

.bn-ex-math-input > .ProseMirror {
  outline: none;
}
