@import url("../../common/style/iawriter-mono.css");

.code-block {
  background-color: var(--mantine-color-gray-light);
  border-radius: 6px;
  padding-block: 12px 12px;
  padding-inline: 16px 20px;

  font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
  font-size: calc(1em - 2px);
  white-space: nowrap;
  overflow-x: auto;
}

.code-block > pre {
  white-space: nowrap;
}
